adf-labour-market-intelligence/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-labour-market-intelligence"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/http_yh_inriktning')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Http_yh_inriktning",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					},
					"encodingName": "ISO-8859-1"
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_jobsearch_current_loop')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "until_fetch_page",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(variables('v_page_num'), pipeline().parameters.p_max_pages)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "copy_current_jobsearch_page",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_rest_jobsearch_current",
											"type": "DatasetReference",
											"parameters": {
												"relativeUrl": {
													"value": "@concat('/search?q=', pipeline().parameters.p_query,\n        '&limit=', string(pipeline().parameters.p_limit),\n        '&offset=', string(variables('v_offset')))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_landing_json",
											"type": "DatasetReference",
											"parameters": {
												"dirPath": {
													"value": "@pipeline().parameters.p_target_folder",
													"type": "Expression"
												},
												"fileName": {
													"value": "@concat('page_', string(variables('v_page_num')), '.json')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "set_next_offset",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "copy_current_jobsearch_page",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_next_offset",
										"value": {
											"value": "@add(variables('v_offset'), pipeline().parameters.p_limit)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "set_offset",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "set_next_offset",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_offset",
										"value": {
											"value": "@variables('v_next_offset')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "set_next_page",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "set_offset",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_next_page_num",
										"value": {
											"value": "@add(variables('v_page_num'), 1)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "set_page_num",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "set_next_page",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_page_num",
										"value": {
											"value": "@variables('v_next_page_num')",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_query": {
						"type": "string",
						"defaultValue": "data"
					},
					"p_limit": {
						"type": "int",
						"defaultValue": 100
					},
					"p_target_folder": {
						"type": "string",
						"defaultValue": "raw/arbetsformedlingen_current"
					},
					"p_max_pages": {
						"type": "int",
						"defaultValue": 3
					}
				},
				"variables": {
					"v_offset": {
						"type": "Integer",
						"defaultValue": 0
					},
					"v_page_num": {
						"type": "Integer",
						"defaultValue": 1
					},
					"v_next_offset": {
						"type": "Integer",
						"defaultValue": 0
					},
					"v_next_page_num": {
						"type": "Integer",
						"defaultValue": 1
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-17T12:45:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_jobsearch_historical_one_year_deprecated')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('v_has_more_pages'), false)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "web_get_historical_page",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {},
										"url": {
											"value": "@concat(\r\n  'https://historical.api.jobtechdev.se/search?q=',\r\n  pipeline().parameters.p_query,\r\n  '&published-after=',\r\n  pipeline().parameters.p_year,\r\n  '&published-before=',\r\n  string(add(int(pipeline().parameters.p_year),1)),\r\n  '&limit=',\r\n  string(pipeline().parameters.p_limit),\r\n  '&offset=',\r\n  string(variables('v_offset'))\r\n)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "web_get_historical_page",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_row_count",
										"value": {
											"value": "@length(activity('web_get_historical_page').output.hits)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_rest_jobsearch_historical",
											"type": "DatasetReference",
											"parameters": {
												"relativeUrl": {
													"value": "@concat(\n  '/search?q=',\n  pipeline().parameters.p_query,\n  '&published-after=',\n  pipeline().parameters.p_year,\n  '&published-before=',\n  string(add(int(pipeline().parameters.p_year),1)),\n  '&limit=',\n  string(pipeline().parameters.p_limit),\n  '&offset=',\n  string(variables('v_offset'))\n)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_landing_json",
											"type": "DatasetReference",
											"parameters": {
												"dirPath": {
													"value": "@concat(\n  pipeline().parameters.p_target_folder,\n  '/year=',\n  pipeline().parameters.p_year\n)",
													"type": "Expression"
												},
												"fileName": {
													"value": "@concat('page_', string(variables('v_page_num')), '.json')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Set variable2",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_has_more_pages",
										"value": {
											"value": "@equals(variables('v_row_count'), pipeline().parameters.p_limit)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable3",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set variable2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_next_offset",
										"value": {
											"value": "@add(variables('v_offset'), pipeline().parameters.p_limit)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable4",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set variable3",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_offset",
										"value": {
											"value": "@variables('v_next_offset')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable5",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set variable4",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_next_page_number",
										"value": {
											"value": "@add(variables('v_page_num'), 1)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable6",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set variable5",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "v_page_num",
										"value": {
											"value": "@variables('v_next_page_number')",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_query": {
						"type": "string"
					},
					"p_limit": {
						"type": "int"
					},
					"p_target_folder": {
						"type": "string"
					},
					"p_year": {
						"type": "string"
					}
				},
				"variables": {
					"v_offset": {
						"type": "Integer",
						"defaultValue": 0
					},
					"v_page_num": {
						"type": "Integer",
						"defaultValue": 1
					},
					"v_next_offset": {
						"type": "Integer",
						"defaultValue": 0
					},
					"v_next_page_number": {
						"type": "Integer",
						"defaultValue": 1
					},
					"v_has_more_pages": {
						"type": "Boolean",
						"defaultValue": true
					},
					"v_row_count": {
						"type": "Integer",
						"defaultValue": 0
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_jobtech_historical_full')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest_historical_files_fe_year",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.p_files",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "copy_http_binary_to_adls",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_http_jobtech_binary",
											"type": "DatasetReference",
											"parameters": {
												"relativeUrl": "@item().relative_url"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_jobtech_binary",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": {
													"value": "raw/arbetsformedlingen_historical",
													"type": "Expression"
												},
												"fileName": {
													"value": "@item().file_name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "copy_adls_zip_to_extracted_jsonl",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "copy_http_binary_to_adls",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "BinaryReadSettings",
												"compressionProperties": {
													"type": "ZipDeflateReadSettings"
												}
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_adls_jobtech_zip_source",
											"type": "DatasetReference",
											"parameters": {
												"dirPath": "raw/arbetsformedlingen_historical",
												"fileName": "@item().file_name"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_jobtech_binary",
											"type": "DatasetReference",
											"parameters": {
												"folderPath": "raw/arbetsformedlingen_historical_extracted",
												"fileName": "@concat(split(item().file_name, '_')[0], '.enriched.jsonl')"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_files": {
						"type": "array",
						"defaultValue": [
							{
								"year": 2016,
								"file_name": "2016_beta1_jsonl.zip",
								"relative_url": "/annonser/historiska/berikade/kompletta/2016_beta1_jsonl.zip"
							},
							{
								"year": 2017,
								"file_name": "2017_beta1_jsonl.zip",
								"relative_url": "/annonser/historiska/berikade/kompletta/2017_beta1_jsonl.zip"
							},
							{
								"year": 2018,
								"file_name": "2018_beta1_jsonl.zip",
								"relative_url": "/annonser/historiska/berikade/kompletta/2018_beta1_jsonl.zip"
							},
							{
								"year": 2019,
								"file_name": "2019_beta1_jsonl.zip",
								"relative_url": "/annonser/historiska/berikade/kompletta/2019_beta1_jsonl.zip"
							},
							{
								"year": 2020,
								"file_name": "2020_beta1_jsonl.zip",
								"relative_url": "/annonser/historiska/berikade/kompletta/2020_beta1_jsonl.zip"
							},
							{
								"year": 2021,
								"file_name": "2021_beta1_jsonl.zip",
								"relative_url": "/annonser/historiska/berikade/kompletta/2021_beta1_jsonl.zip"
							},
							{
								"year": 2022,
								"file_name": "2022_beta1_jsonl.zip",
								"relative_url": "/annonser/historiska/berikade/kompletta/2022_beta1_jsonl.zip"
							},
							{
								"year": 2023,
								"file_name": "2023_beta1_jsonl.zip",
								"relative_url": "/annonser/historiska/berikade/kompletta/2023_beta1_jsonl.zip"
							},
							{
								"year": 2024,
								"file_name": "2024_beta1_jsonl.zip",
								"relative_url": "/annonser/historiska/berikade/kompletta/2024_beta1_jsonl.zip"
							}
						]
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_yh_education_region')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_scb_yh_eduregion_to_landing_copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HTTP_SCB_yh_region",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "adls_yh_region_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_scb_yh_edutopic_to_landing",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copy_scb_yh_eduregion_to_landing_copy1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "http_yh_inriktning",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "adls_yh_subject",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/http_yh_inriktning')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_jobsearch_historical_yearly_deprecated')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.p_years",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_ingest_jobsearch_historical_one_year_deprecated",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"p_query": {
												"value": "@pipeline().parameters.p_query",
												"type": "Expression"
											},
											"p_limit": {
												"value": "@pipeline().parameters.p_limit",
												"type": "Expression"
											},
											"p_target_folder": {
												"value": "@pipeline().parameters.p_target_folder",
												"type": "Expression"
											},
											"p_year": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_query": {
						"type": "string",
						"defaultValue": "data"
					},
					"p_limit": {
						"type": "int",
						"defaultValue": 100
					},
					"p_target_folder": {
						"type": "string",
						"defaultValue": "raw/arbetsformedlingen_historical"
					},
					"p_years": {
						"type": "array",
						"defaultValue": [
							"2016"
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ingest_jobsearch_historical_one_year_deprecated')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_master_weekly_refresh')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pl_ingest_jobsearch_current_loop",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_ingest_jobsearch_current_loop",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ingest_jobsearch_current_loop')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_master_monthly_historic_refresh')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pl_ingest_jobtech_historical_full",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_ingest_jobtech_historical_full",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ingest_jobtech_historical_full')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trg_ingest_current_weekly')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_weekly_refresh",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2026-03-29T10:00:00",
						"timeZone": "W. Europe Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								10
							],
							"weekDays": [
								"Sunday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_master_weekly_refresh')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trg_ingest_historical_monthly')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_master_monthly_historic_refresh",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 4,
						"startTime": "2026-03-29T15:00:00",
						"timeZone": "W. Europe Standard Time",
						"schedule": {
							"weekDays": [
								"Sunday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_master_monthly_historic_refresh')]"
			]
		}
	]
}